body {
    background-color: pink;
  }
  h1 {
    color: antiquewhite;
    font-family: fantasy;
    text-align: center;
  }
  p {
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    font-size: 20 px;
  }
  hr {
    width: 20%;
    color: blue;
  }