h1{
  padding-top:10px 30px ;
  align-self: baseline;
  font-size: 100 px;
  text-align: center;
  color: pink;
  font-size:100 px;
}
.outercircle {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-color: rgb(23, 23, 92);
    display: flex;
  }
  .innercircle {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: white;
    margin: auto;
    display: flex;
  }
  .innercircle2 {
    height: 25px;
    width: 25px;
    border-radius: 50%;
    background-color:rgb(31, 31, 126) ;
    margin: auto;
    display: flex;
  }
  .innercircle3{
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color:black;
    margin: auto;
  }
p1{
  color: pink; 
  font-weight: bold ;
  text-align: center;
  font-size:30px;
}
img{
  width:min-content;
  border-radius:50% ;
  height:min-content;
  float: left;
  margin-right:10px ;
}
